<%= link_to api_species_path(id: species["key"]), class: "block w-full p-6 mt-4 border-gray-200 rounded-lg shadow-sm bg-white border-white-700 hover:bg-red-100" do %>
  <h5 class="mb-2 text-xl font-bold tracking-tight text-gray capitalize">
    <%= species["canonicalName"] %>
  </h5>
  <p class="font-normal text-gray-700 dark:text-gray-600 capitalize">
    <%= classification_formatter(species["kingdom"], species["phylum"], species["order"], species["class"], species["family"], species["genus"]) %>
  </p>
  <p class="font-normal text-gray-700 dark:text-gray-600 capitalize">
    <%= varnacular_name_formatter(species) %>
  </p>
<% end %>
