<main class="p-4">
  <%= render "searchbar" %>
  <div class="my-8">
    <h1>Total Number of Species: <%= @request["count"] %></h1>
    <% @species.each do |species| %>
      <%= render "search-item", species: species %>
    <% end %>
  </div>
</main>
