<% if resource.errors.any? %>
  <div id="error_explanation" class="flex items-center absolute top-5 right-5 p-4 w-full max-w-xs text-white bg-red-400 rounded-lg shadow dark:text-gray-400 dark:bg-gray-800">

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="ml-3 text-sm font-normal"><%= message %></li>
      <% end %>
    </ul>

    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-red-400 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-default" aria-label="Close" onclick="this.parentElement.style.display='none'">
      <%= render "icons/close" %>
    </button>
  </div>
<% end %>
