<div class="w-full p-4">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Species</h1>
    <%= link_to 'New species', new_species_path, class: "text-center rounded-lg py-3 px-5 bg-red-600 text-white block font-medium" %>
  </div>
  <div id="species" class="min-w-full">
    <%= render @species %>
  </div>
</div>
