<%= link_to path, class: "flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-red-700", data: data do %>
  <%= render "icons/#{icon}" %>
  <span class="ml-2 text-sm font-medium">
    <%= text %>
  </span>
<% end %>
