<div div class="mx-auto md:w-2/3 w-full p-4">
    <h1 class="font-bold text-4xl">ArkiBuhay: an online archive of native and endemic species in the Philippines</h1>
    <p>Isang didyital na talaan ng mga katutubo at endemikong organismo sa Pilipinas</p>
</div>