<div class="flex flex-col-reverse">
    <h1 class="text-3xl font-bold underline">AppName: an online archive of native and endemic species in the Philippines</h1>
    <p>Isang didyital na talaan ng mga katutubo at endemikong organismo sa Pilipinas</p>
</div>