<div id="<%= dom_id gallery %>" class="flex gap-4">
  <%= image_tag gallery.image, class: "w-6/12 h-auto" %>
  <p class="mb-2 text-sm font-bold tracking-tight">
    <%= gallery.description %>
  </p>
</div>
