<div id="<%= dom_id gallery %>" class="flex gap-4 justify-between mt-4">
  <div>
    <p class="text-3xl font-bold tracking-tight text-gray">
      Description
    </p>
    <p class="font-normal text-gray-700 dark:text-gray-600 italic">
      <%= gallery.description %>
    </p>
  </div>
  <%= link_to url_for(gallery.image), target: "_blank" do %>
    <%= image_tag gallery.image, class: "w-64 h-auto border-8 border-red-700"  %>
  <% end %>
</div>
<hr class="my-6 border-red-700">
