<div class="mx-auto md:w-5/6 w-full p-4 flex flex-col">
  <div>
    <h1 class="font-bold text-4xl">Galleries</h1>
  </div>
  <div id="galleries" class="min-w-full">
    <%= render @galleries %>
  </div>
</div>
